.editor-styles-wrapper a:link,
.editor-styles-wrapper a:visited {
  color: #404040 !important;
}

.editor-styles-wrapper table caption,
.wp-block-calendar table caption {
  background-color: #a0a0a0 !important;
}

.editor-styles-wrapper .wp-caption-text,
.editor-styles-wrapper .gallery-caption,
.wp-block-image figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  background-color: #808080;
}

.wp-block-calendar table tfoot a:link,
.wp-block-calendar table tfoot a:visited {
  color: #404040;
}

.wp-block-pullquote.is-style-default {
  border-color: #c0c0c0;
}
