/* WooCommerce color overrides file */
/* Blue */
.blue.woocommerce .woocommerce-breadcrumb a {
  color: #000080;
}
.blue.woocommerce .woocommerce-breadcrumb a:hover,
.blue.woocommerce nav.woocommerce-pagination ul li a:hover,
.blue.woocommerce nav.woocommerce-pagination ul li a:focus {
  color: #00004d;
}
.blue.woocommerce ul.products li.product .woocommerce-loop-category__title,
.blue.woocommerce ul.products li.product .woocommerce-loop-product__title,
.blue.woocommerce ul.products li.product h3 {
  color: #000080;
}
.blue.woocommerce ul.products li.product .woocommerce-loop-category__title:hover,
.blue.woocommerce ul.products li.product .woocommerce-loop-product__title:hover,
.blue.woocommerce ul.products li.product h3:hover {
  color: #00004d;
}
.blue .woocommerce #respond input#submit.alt,
.blue .woocommerce a.button.alt,
.blue .woocommerce button.button.alt,
.blue .woocommerce input.button.alt {
  background-color: #1717cf;
  border-bottom: 1px #00004d;
  font-weight: bold;
}
.blue .woocommerce #respond input#submit.alt:hover,
.blue .woocommerce a.button.alt:hover,
.blue .woocommerce button.button.alt:hover,
.blue .woocommerce input.button.alt:hover {
  background-color: #00004d;
}
.blue .wc-block-grid .wc-block-components-product-title a:hover {
  color: #00004d;
}
.blue .wc-block-grid .wc-block-components-product-title a,
.blue .wc-block-grid__product-title {
  color: #000080;
}
.blue .wc-block-grid .wc-block-components-product-title a:hover,
.blue .wc-block-grid__product-title:hover {
  color: #00004d;
}
.blue .wc-block-featured-product__link .wp-block-button__link {
  background-color: rgba(0, 0, 83, 0.50);
  border-bottom-color: #00004d;
}
.blue .wc-block-featured-product__link .wp-block-button__link:hover {
  background-color: #00004d;
}

/* Green */
.green.woocommerce .woocommerce-breadcrumb a {
  color: #215e21;
}
.green.woocommerce .woocommerce-breadcrumb a:hover,
.green.woocommerce nav.woocommerce-pagination ul li a:hover,
.green.woocommerce nav.woocommerce-pagination ul li a:focus {
  color: #143914;
}
.green.woocommerce ul.products li.product .woocommerce-loop-category__title,
.green.woocommerce ul.products li.product .woocommerce-loop-product__title,
.green.woocommerce ul.products li.product h3 {
  color: #215e21;
}
.green.woocommerce ul.products li.product .woocommerce-loop-category__title:hover,
.green.woocommerce ul.products li.product .woocommerce-loop-product__title:hover,
.green.woocommerce ul.products li.product h3:hover {
  color: #143914;
}
.green .woocommerce #respond input#submit.alt,
.green .woocommerce a.button.alt,
.green .woocommerce button.button.alt,
.green .woocommerce input.button.alt {
  background-color: #2e842e;
  border-bottom: 1px #143914;
  font-weight: bold;
}
.green .woocommerce #respond input#submit.alt:hover,
.green .woocommerce a.button.alt:hover,
.green .woocommerce button.button.alt:hover,
.green .woocommerce input.button.alt:hover {
  background-color: #143914;
}
.green .wc-block-grid .wc-block-components-product-title a:hover {
  color: #143914;
}
.green .wc-block-grid .wc-block-components-product-title a,
.green .wc-block-grid__product-title {
  color: #215e21;
}
.green .wc-block-grid .wc-block-components-product-title a:hover,
.green .wc-block-grid__product-title:hover {
  color: #143914;
}
.green .wc-block-featured-product__link .wp-block-button__link {
  background-color: rgba(11, 61, 11, 0.50);
  border-bottom-color: #143914;
}
.green .wc-block-featured-product__link .wp-block-button__link:hover {
  background-color: #143914;
}

/* Red */
.red.woocommerce .woocommerce-breadcrumb a {
  color: #8b0000;
}
.red.woocommerce .woocommerce-breadcrumb a:hover,
.red.woocommerce nav.woocommerce-pagination ul li a:hover,
.red.woocommerce nav.woocommerce-pagination ul li a:focus {
  color: #570000;
}
.red.woocommerce ul.products li.product .woocommerce-loop-category__title,
.red.woocommerce ul.products li.product .woocommerce-loop-product__title,
.red.woocommerce ul.products li.product h3 {
  color: #8b0000;
}
.red.woocommerce ul.products li.product .woocommerce-loop-category__title:hover,
.red.woocommerce ul.products li.product .woocommerce-loop-product__title:hover,
.red.woocommerce ul.products li.product h3:hover {
  color: #570000;
}
.red .woocommerce #respond input#submit.alt,
.red .woocommerce a.button.alt,
.red .woocommerce button.button.alt,
.red .woocommerce input.button.alt {
  background-color: #d81818;
  border-bottom: 1px #570000;
  font-weight: bold;
}
.red .woocommerce #respond input#submit.alt:hover,
.red .woocommerce a.button.alt:hover,
.red .woocommerce button.button.alt:hover,
.red .woocommerce input.button.alt:hover {
  background-color: #570000;
}
.red .wc-block-grid .wc-block-components-product-title a:hover {
  color: #570000;
}
.red .wc-block-grid .wc-block-components-product-title a,
.red .wc-block-grid__product-title {
  color: #8b0000;
}
.red .wc-block-grid .wc-block-components-product-title a:hover,
.red .wc-block-grid__product-title:hover {
  color: #570000;
}
.red .wc-block-featured-product__link .wp-block-button__link {
  background-color: rgba(90, 0, 0, 0.50);
  border-bottom-color: #570000;
}
.red .wc-block-featured-product__link .wp-block-button__link:hover {
  background-color: #570000;
}

/* Olive */
.olive.woocommerce .woocommerce-breadcrumb a {
  color: #4d4d00;
}
.olive.woocommerce .woocommerce-breadcrumb a:hover,
.olive.woocommerce nav.woocommerce-pagination ul li a:hover,
.olive.woocommerce nav.woocommerce-pagination ul li a:focus {
  color: #000000;
}
.olive.woocommerce ul.products li.product .woocommerce-loop-category__title,
.olive.woocommerce ul.products li.product .woocommerce-loop-product__title,
.olive.woocommerce ul.products li.product h3 {
  color: #4d4d00;
}
.olive.woocommerce ul.products li.product .woocommerce-loop-category__title:hover,
.olive.woocommerce ul.products li.product .woocommerce-loop-product__title:hover,
.olive.woocommerce ul.products li.product h3:hover {
  color: #000000;
}
.olive .woocommerce #respond input#submit.alt,
.olive .woocommerce a.button.alt,
.olive .woocommerce button.button.alt,
.olive .woocommerce input.button.alt {
  background-color: #808000;
  border-bottom: 1px #000000;
  font-weight: bold;
}
.olive .woocommerce #respond input#submit.alt:hover,
.olive .woocommerce a.button.alt:hover,
.olive .woocommerce button.button.alt:hover,
.olive .woocommerce input.button.alt:hover {
  background-color: #000000;
}
.olive .wc-block-grid .wc-block-components-product-title a:hover {
  color: #000000;
}
.olive .wc-block-grid .wc-block-components-product-title a,
.olive .wc-block-grid__product-title {
  color: #4d4d00;
}
.olive .wc-block-grid .wc-block-components-product-title a:hover,
.olive .wc-block-grid__product-title:hover {
  color: #000000;
}
.olive .wc-block-featured-product__link .wp-block-button__link {
  background-color: rgba(83, 83, 0, 0.50);
  border-bottom-color: #000000;
}
.olive .wc-block-featured-product__link .wp-block-button__link:hover {
  background-color: #000000;
}

/* Silver */
.silver.woocommerce .woocommerce-breadcrumb a {
  color: #4d4d4d;
}
.silver.woocommerce .woocommerce-breadcrumb a:hover,
.silver.woocommerce nav.woocommerce-pagination ul li a:hover,
.silver.woocommerce nav.woocommerce-pagination ul li a:focus {
  color: #333333;
}
.silver.woocommerce ul.products li.product .woocommerce-loop-category__title,
.silver.woocommerce ul.products li.product .woocommerce-loop-product__title,
.silver.woocommerce ul.products li.product h3 {
  color: #4d4d4d;
}
.silver.woocommerce ul.products li.product .woocommerce-loop-category__title:hover,
.silver.woocommerce ul.products li.product .woocommerce-loop-product__title:hover,
.silver.woocommerce ul.products li.product h3:hover {
  color: #333333;
}
.silver .woocommerce #respond input#submit.alt,
.silver .woocommerce a.button.alt,
.silver .woocommerce button.button.alt,
.silver .woocommerce input.button.alt {
  background-color: #cccccc;
  border-bottom: 1px solid #878787;
  color: #333333;
  font-weight: bold;
}
.silver .woocommerce #respond input#submit.alt:hover,
.silver .woocommerce a.button.alt:hover,
.silver .woocommerce button.button.alt:hover,
.silver .woocommerce input.button.alt:hover {
  background-color: #a0a0a0;
}
.silver .wc-block-grid .wc-block-components-product-title a {
  color: #4d4d4d;
}
.silver .wc-block-grid .wc-block-components-product-title a:hover {
  color: #333333;
}
.silver .wc-block-grid__product-title {
  color: #4d4d4d;
}
.silver .wc-block-grid__product-title:hover {
  color: #333333;
}
.silver .wc-block-featured-product__link .wp-block-button__link:hover {
  background-color: #6e6e6e;
}

/* Light Text overrides */
.light-text.woocommerce ul.products li.product, .light-text.woocommerce-page ul.products li.product {
  background-color: rgba(255, 255, 255, 0.12);
}
.light-text.woocommerce .woocommerce-breadcrumb,
.light-text.woocommerce ul.products li.product .price {
  color: #e6e6e6;
}
.light-text.woocommerce .woocommerce-breadcrumb a {
  color: #cccccc;
}
.light-text.woocommerce .woocommerce-breadcrumb a:hover {
  color: #ffffff;
}
.light-text.woocommerce ul.products li.product .woocommerce-loop-category__title,
.light-text.woocommerce ul.products li.product .woocommerce-loop-product__title,
.light-text.woocommerce ul.products li.product h3 {
  color: #ffffff;
}
.light-text.woocommerce ul.products li.product .woocommerce-loop-category__title:hover,
.light-text.woocommerce ul.products li.product .woocommerce-loop-product__title:hover,
.light-text.woocommerce ul.products li.product h3:hover {
  color: #e6e6e6;
}
.light-text.woocommerce nav.woocommerce-pagination ul li span.current {
  border-color: rgba(255, 255, 255, 0.25);
  color: #e6e6e6;
}
.light-text.woocommerce nav.woocommerce-pagination ul li a:hover, .light-text.woocommerce nav.woocommerce-pagination ul li a:active {
  color: #e6e6e6;
}
.light-text.woocommerce.woocommerce.single-product div.product p.price {
  color: #e6e6e6;
}
.light-text.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.light-text.woocommerce div.product .woocommerce-tabs .panel {
  color: #333333;
}
.light-text.woocommerce .widget_shopping_cart .buttons a, .light-text.woocommerce.widget_shopping_cart .buttons a {
  color: #333333;
}
.light-text .wc-block-grid .wc-block-components-product-title a {
  color: #cccccc !important;
}
.light-text .wc-block-grid .wc-block-components-product-title a:hover,
.light-text .wc-block-grid .wc-block-components-product-title a:active {
  color: #ffffff;
}
.light-text a.wc-block-grid__product-link:hover,
.light-text a.wc-block-grid__product-link:active {
  text-decoration-color: currentColor;
}
.light-text .wc-block-grid__product-title {
  color: #cccccc;
}
.light-text .wc-block-grid__product-title:hover, .light-text .wc-block-grid__product-title:active {
  color: #ffffff;
}
.light-text .wc-block-components-pagination__page,
.light-text .wc-block-components-pagination__page--active[disabled]:focus,
.light-text .wc-block-components-pagination__page--active[disabled]:hover {
  color: #ffffff;
}
.light-text .wc-block-components-pagination__page {
  border-color: rgba(255, 255, 255, 0.25);
}
.light-text .wc-block-components-pagination__page--active[disabled] {
  border-color: rgba(255, 255, 255, 0.12);
}
.light-text .wp-block-button.wc-block-components-product-button .wp-block-button__link {
  background-color: #666666;
  color: #ffffff;
}

/*# sourceMappingURL=jgd-woocommerce-colors.css.map */
