@use "partials/variables";

.editor-styles-wrapper {
  a {
    color: variables.$blue;
  }

  a:hover,
  a:active {
    color: variables.$dark_blue;
  }
}

.editor-styles-wrapper table caption,
.wp-block-calendar table caption {
  background-color: variables.$dark_blue !important;
}

.editor-styles-wrapper .wp-caption-text,
.editor-styles-wrapper .gallery-caption,
.wp-block-image figcaption,
.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
  background-color: variables.$dark_blue;
  color: variables.$pale_blue;

  a {
    color: variables.$lighter_blue;
  }

  a:hover,
  a:active {
    color: variables.$pale_blue;
  }
}

.wp-block-calendar table tfoot a {
  color: variables.$dark_blue;
}

.wp-block-pullquote.is-style-default {
  border-color: variables.$light_blue;
}

.wc-block-grid__product .wc-block-grid__product-title {
  color: variables.$dark_blue;
}

.wc-block-featured-product__link .wp-block-button__link {
  background-color: rgba(0, 0, 83, 0.5) !important;
  border-bottom: variables.$blue;
}
