/* -- Editor Styles for the back end -- */
@use "partials/mixins";
@use "partials/variables";

.editor-styles-wrapper {
  background-color: variables.$base_color;
  color: variables.$text_color;
  font-family: variables.$serif;
  line-height: 1.29em;

  p,
  address {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  p,
  ul li,
  ol li,
  dl dt,
  dl dd,
  blockquote {
    font-size: 1em;
    line-height: 1.29em;
  }

  blockquote {
    background-color: variables.$pale_gray;
    padding: 1em;
    font-style: italic;
    clear: both;
  }

  .wp-block-freeform.block-library-rich-text__tinymce blockquote {
    border-left: none;
    box-shadow: none;
    margin: 20px;
  }

  blockquote p {
    font-size: 1em;
  }

  .wp-block-freeform.block-library-rich-text__tinymce li,
  .wp-block-freeform.block-library-rich-text__tinymce p {
    line-height: 1.29em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.2em auto !important;
  }

  h1 {
    font-size: 2.14em; // ~30 px
  }

  h2 {
    font-size: 1.71em; // ~24 px
  }

  h3 {
    font-size: 1.29em; // ~18 px
  }

  h4 {
    font-size: 1em; // ~16 px
  }

  h5 {
    font-size: 0.875em; // ~14 px
  }

  h6 {
    font-size: 0.75em; // ~12 px
  }

  a {
    color: variables.$link_color;
    text-decoration: underline;
  }

  a:hover,
  a:active {
    color: variables.$link_hover_color;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a img {
    border: 0;
  }

  video {
    // for responsive html5 videos
    width: 100% !important;
    height: auto !important;
  }

  table {
    margin: 0 auto;
  }

  table,
  table th,
  table td {
    border: 1px solid variables.$lightest_gray;
  }

  table th,
  table td {
    padding: 0.5em;
  }

  table caption {
    color: variables.$text_color_light;
    background-color: variables.$black;
    font-weight: bold;
  }

  pre,
  .wp-block-freeform.block-library-rich-text__tinymce pre,
  code,
  kbd {
    font-family: variables.$monospace;
  }

  pre,
  .wp-block-freeform.block-library-rich-text__tinymce pre {
    background-color: variables.$pale_gray;
    border: 1px solid variables.$silver;
    font-size: 0.9em;
    overflow-x: auto;
    padding: 1em;
  }

  .entry form p:first-child:first-letter {
    font-size: 1em;
  }

  form label {
    margin-right: 6px;
  }

  button:not(.components-button),
  form input,
  form textarea,
  select {
    color: variables.$text_color;
    border: 1px solid variables.$silver;
    padding: 2px 6px;
    font-size: 1em;
  }

  form input:focus,
  form textarea:focus {
    background-color: variables.$pale_gray;
  }

  form input,
  form textarea,
  select,
  select option {
    font-family: variables.$serif;
  }

  button:not(.components-button),
  .wp-block-button__link,
  form input[type="reset"],
  form input[type="submit"],
  select {
    background-color: variables.$pale_gray;
    margin: 6px;
    min-width: 72px;
  }

  select option {
    height: 36px;
  }

  form textarea {
    width: 100%;
  }

  form input#searchsubmit {
    border: 0;
  }

  hr {
    border-bottom: 2px solid variables.$black_25_opacity;
    border-top: transparent;
    margin: 1em 0;
  }

  .wp-caption-text,
  .gallery-caption {
    @include mixins.caption;
    @include mixins.hide-text-overflow;
  }

  .wp-calendar-table {
    background-color: variables.$base_color;
    border: 1px solid variables.$dark_gray;
    border-collapse: collapse;

    thead {
      background-color: variables.$pale_gray;
      text-align: center;
    }

    th {
      font-weight: bold;
    }

    tbody td {
      border: 1px solid variables.$medium_gray;
      text-align: center;
    }

    th,
    td {
      border: 0;
    }
  }
}
