/* -- Editor Styles for the back end -- */
@import "mixins";
@import "variables";

body {
  background-color: $base_color;
	color: $text_color;
  font-family: $serif;
  line-height: 1.29em;
}

p,
address {
	margin-bottom: 1rem;
  margin-top: 0;
}

.wp-block-freeform.block-library-rich-text__tinymce li,
.wp-block-freeform.block-library-rich-text__tinymce p {
  line-height: 1.29em;
}

p,
ul li,
ol li,
dl dt,
dl dd,
blockquote {
	font-size: 1em;
}

blockquote {
	background-color: $light_gray;
	padding: 1em;
	font-style: italic;
	clear: both;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote {
  border-left: none;
  box-shadow: none;
  margin: 20px;
}

blockquote p {
	font-size: 1em;
}

h1 {
	font-size: 2.14em; // ~30 px
}

h2 {
	font-size: 1.71em; // ~24 px
}

h3 {
	font-size: 1.29em; // ~18 px
}

h4 {
	font-size: 1em; // ~16 px
}

h5 {
	font-size: 0.875em; // ~14 px
}

h6 {
	font-size: 0.75em; // ~12 px
}

a:link,
a:visited {
	color: $link_color;
	text-decoration: none;
}

a:hover,
a:active {
	color: $link_hover_color;
	text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
}

a img {
	border: 0;
}

video { // for responsive html5 videos
  width: 100% !important;
  height: auto !important;
}

table {
	margin: 0 auto;
}

table,
table th,
table td {
	border: 1px solid $light_gray;
}

table th, table td {
	padding: 0.5em;
}

table caption {
	color: $text_color_light;
	background-color: $black;
	font-weight: bold;
}

pre,
.wp-block-freeform.block-library-rich-text__tinymce pre,
code,
kbd {
	font-family: $monospace;
}

pre,
.wp-block-freeform.block-library-rich-text__tinymce pre {
	background-color: $light_gray;
	border: 1px solid $silver;
  font-size: 0.9em;
	overflow-x: auto;
	padding: 1em;
}

.entry form p:first-child:first-letter {
	font-size: 1em;
}

form label {
	margin-right: 6px;
}

.editor-styles-wrapper button:not(.components-button),
form input,
form textarea,
select {
	color: $text_color;
	border: 1px solid $silver;
	padding: 2px 6px;
	font-size: 1em;
}

form input:focus,
form textarea:focus {
	background-color: $light_gray;
}

.editor-styles-wrapper form input,
form textarea,
select,
select option {
	font-family: $serif;
}

.editor-styles-wrapper button:not(.components-button),
.wp-block-button__link,
form input[type="reset"],
form input[type="submit"],
select {
	background-color: $light_gray;
	margin: 6px;
	min-width: 72px;
}

select option {
	height: 36px;
}

form textarea {
	width: 100%;
}

form input#searchsubmit {
	border: 0;
}

hr {
	border-bottom: 2px solid $black_25_opacity;
	border-top: transparent;
	margin: 1em 0;
}

.wp-caption-text,
.gallery-caption {
  @include caption;
  @include hide-text-overflow;
}

#wp-calendar {
	background-color: $base_color;
	border: 1px solid $dark_gray;
	border-collapse: collapse;

	thead {
		background-color: $light_gray;
		text-align: center;
	}

	th {
		font-weight: bold;
	}

	tbody td {
		border: 1px solid $medium_gray;
		text-align: center;
	}

	th,
	td {
		border: 0;
	}
}
