/* -- Gutenberg editor styles for the backend -- */
@import "mixins";
@import "variables";

.block-editor-block-list__block[data-type="core/paragraph"] p {
  line-height: 1.29em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.2em auto !important;
}

ol,
ul {
  margin-left: 0 !important;
}

table,
.wp-block-table table {
  border-collapse: separate;
}

pre {
  font-size: 0.9em;
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  @include caption;
  @include hide-text-overflow;
}

.editor-post-title__block {
  margin-bottom: 0px;
}

.editor-post-title__block .editor-post-title__input {
  font-family: $serif;
  font-size: 2.14em;
  padding: 0px;
}

.wp-block {
  max-width: 740px;

  &[data-align=wide] {
    max-width: 1024px;
  }

  &[data-align=full] {
    max-width: none;
  }

  &-gallery,
  &-image {
    margin: 0px auto;
  }

  &-embed,
  &-gallery,
  &-image,
  &-calendar {
    padding: 1em 0px;
  }

  &-image figcaption {
  	@include caption;
  }

  .wp-block-button {
    color: $text_color;

    &__link {
  		border: 1px solid $silver;
  		padding: 2px 6px;
  		font-size: 1em;
      border-radius: 0px;

      &:link,
      &:visited {
        color: $text_color !important;
      }

      &:hover,
      &:active {
        text-decoration: none;
      }
    }
  }

  &-file {
    background-color: $light_gray;
  	margin: 0.5em 0;
  	padding: 1em;
  	text-align: center;

    .wp-block-file__button {
      background-color: $light_gray;
  		border: 1px solid $silver;
  		border-radius: 0px;
  		color: $text_color !important;
  		font-size: 1em;
  		padding: 2px 6px;

  		&:hover,
  		&:focus {
  			color: $text_color !important;
  		}
    }
  }

  .is-style-outline {
    .wp-block-button__link {
      background-color: transparent;
      border-color: $silver;
  		border-width: 1px;

      &.has-white-color {
        color: $text_color !important;
      }
    }

    :hover,
  	:focus {
  		background-color: $light_gray;
  	}
  }

  .wp-block-image {
    img {
    	margin: 0px;
    }

    figcaption {
      margin: -0.75em 0px 1em 0px;
    }
  }

  .wp-block-gallery {
    img {
      border: 1px solid $silver;
    	margin: 1em auto 0 auto;
    }
  }

  &-quote {
    border-left: transparent;

    &.is-style-large {
      margin: 2em 0px;
    	padding: 2em;
    }

    p {
      line-height: 1.29em;
    }

    &__citation {
      color: $text_color;
      font-size: 1em;
      font-style: italic;
    }
  }

  &-pullquote {
    margin: 2em 0px;
  	padding: 1em 0px;

    blockquote p {
      font-size: 1.75em !important;
    }

    &.is-style-default {
    	border-top: 2px solid $medium_gray;
    	border-bottom: 2px solid $medium_gray;
    }

    &.is-style-default blockquote,
    &.is-style-solid-color blockquote {
    	background-color: transparent;
    }

    &.is-style-solid-color p {
      font-size: 2em;
    }

    &.is-style-solid-color {
    	background-color: $light_gray;
    }

    &__citation {
      font-size: 1em;
      font-style: italic;
      text-transform: none;
    }
  }

  &-separator {
    margin: 1em auto !important;

    &:not(.is-style-wide):not(.is-style-dots) {
      max-width: none;
    }

    &.is-style-default {
      width: 50%;
    }

    &.is-style-wide {
  		width: 100%;
  		border-width: 2px;
  	}
  }

  &-code,
  &-verse {
    font-size: 0.9em !important;
  }

  &-table {
    &.is-style-stripes {
  		border-bottom: none;

  		tbody tr:nth-child(2n + 1) {
  			background-color: $light_gray;
  		}

  		th,
  		td {
  			border-color: $light_gray;
  		}
  	}

    figcaption {
      color: $text_color;
      font-size: 1em;
      font-weight: bold;
      padding: 0.5em;
      text-align: center;
    }
  }

  &-verse {
    background-color: transparent;
  }

  &-calendar {
    table {
  		font-family: $serif;

  		caption {
  			color: $white;
  		}

  		tbody {
  			color: $text_color;
  		}

  		tfoot {
  			font-weight: bold;

  			a:link,
  			a:visited {
  				color: $link_color;
  			}

  			a:active,
  			a:hover {
  				color: $link_hover_color;
  			}
  		}
  	}

    .wp-calendar-nav {
      display: flex;
      justify-content: space-between;
    }
  }
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product {
  border-left: 0px;
  border-right: 0px;
	padding: 20px;
}

.wc-block-grid__product-link {
	&:hover,
	&:active {
		text-decoration: none;
	}
}

.wc-block-grid .wc-block-components-product-title,
.wc-block-grid__product .wc-block-grid__product-title {
	font-size: 1.29rem;
	text-align: left;
}

.wc-block-grid .wc-block-components-product-title {
	a:link,
  a:visited {
		color: $black;
		text-decoration: none;
	}
}

.wc-block-grid__product .wc-block-grid__product-title {
	color: $black;

	&:hover {
		border-bottom: none;
		color: $medium_gray;
	}
}

.wc-block-components-product-image .wc-block-components-product-sale-badge--alignright,
.wc-block-grid__product .wc-block-grid__product-onsale {
	background-color: $black_50_opacity;
	border-top: transparent;
	border-right: transparent;
	border-bottom: 2px solid $white_50_opacity;
	border-left: transparent;
	border-radius: 0;
	color: $white;
	font-size: .875em;
	text-transform: none;
}

.wc-block-grid__product .wc-block-grid__product-onsale {
	position: absolute;
	top: 20px;
	left: 20px;
}

.wc-block-components-product-image .wc-block-components-product-sale-badge--alignright {
	top: 0 !important;
	right: auto !important;
	left: 0 !important;
}

.wc-block-grid__product .wc-block-grid__product-add-to-cart,
.wc-block-grid__product .wc-block-grid__product-onsale,
.wc-block-grid__product .wc-block-grid__product-price,
.wc-block-grid__product .wc-block-grid__product-rating {
	text-align: left;
}

.wc-block-grid__product-add-to-cart a,
.wc-block-grid__product-add-to-cart button {
	color: $text_color;
	display: flex;
	width: 100%;
}

.wc-block-featured-product__link .wp-block-button__link {
	background-color: $black_50_opacity !important;
	border-top: transparent;
	border-right: transparent;
	border-bottom: 1px solid $dark_gray;
	border-left: transparent;
	color: $white !important;
	font-size: 1.29rem;
	font-weight: bold;
	padding: 0.5em 1em;
}

.editor-styles-wrapper button.wc-block-components-pagination__page {
  background-color: transparent !important;
	min-width: 44px !important;
	padding: 0.5em !important;
	margin: 0 0.125em !important;
}

.wc-block-components-pagination__page--active[disabled] {
	border-color: $light_gray !important;
}
