/* -- Gutenberg colors for the front end -- */
@use "partials/variables";

/* White */
.has-white-background-color {
  background-color: variables.$white;
}

.has-white-color {
  color: variables.$white;
}

.wp-block-button__link.has-white-color {
  color: variables.$white;

  &:hover,
  &:active {
    color: variables.$white;
  }
}

$black_colors: (
  "light-gray": variables.$pale_gray,
  "medium-gray": variables.$medium_gray,
  "dark-gray": variables.$dark_gray,
);
$blue_colors: (
  "light-blue": variables.$light_blue,
  "medium-blue": variables.$medium_blue,
  "blue": variables.$blue,
  "dark-blue": variables.$dark_blue,
);
$green_colors: (
  "light-green": variables.$light_green,
  "medium-green": variables.$medium_green,
  "green": variables.$green,
  "dark-green": variables.$dark_green,
);
$red_colors: (
  "light-red": variables.$light_red,
  "medium-red": variables.$medium_red,
  "red": variables.$red,
  "dark-red": variables.$dark_red,
);
$silver_colors: (
  "light-silver": variables.$light_silver_alt,
  "silver": variables.$silver,
  "medium-dark-gray": variables.$darker_silver_alt,
);
$olive_colors: (
  "light-olive": variables.$light_olive,
  "medium-olive": variables.$medium_olive,
  "olive": variables.$olive,
  "dark-olive": variables.$dark_olive,
);

/* Black color scheme */
@each $slug, $var in $black_colors {
  .has-#{$slug}-background-color {
    background-color: #{$var};
  }

  .has-#{$slug}-color {
    color: #{$var};
  }

  :root
    :where(
      .wp-block-button.is-style-outline
        .wp-block-button__link.has-#{$slug}-background-color
    ) {
    background-color: #{$var} !important;
  }

  :root
    :where(
      .wp-block-button.is-style-outline
        .wp-block-button__link.has-#{$slug}-color
    ) {
    color: #{$var} !important;
  }

  .is-style-outline .wp-block-button__link.has-white-color {
    border-color: variables.$white;
    color: variables.$text_color;

    &:hover,
    &:focus {
      border-color: variables.$silver;
    }
  }

  .wp-block-button__link.has-#{$slug}-color {
    color: #{$var} !important;
  }
}

/* Blue color scheme */
@each $slug, $var in $blue_colors {
  .has-#{$slug}-background-color {
    background-color: #{$var};
  }

  .has-#{$slug}-color {
    color: #{$var};
  }

  :root
    :where(
      .wp-block-button.is-style-outline
        .wp-block-button__link.has-#{$slug}-background-color
    ) {
    background-color: #{$var} !important;
  }

  :root
    :where(
      .wp-block-button.is-style-outline
        .wp-block-button__link.has-#{$slug}-color
    ) {
    color: #{$var} !important;
  }

  .is-style-outline .wp-block-button__link.has-#{$slug}-color {
    border-color: #{$var};

    &:hover,
    &:focus {
      color: #{$var} !important;
    }
  }

  .wp-block-button__link.has-#{$slug}-color {
    color: #{$var};
  }
}

/* Green color scheme */
@each $slug, $var in $green_colors {
  .has-#{$slug}-background-color {
    background-color: #{$var};
  }

  .has-#{$slug}-color {
    color: #{$var};
  }

  :root
    :where(
      .wp-block-button.is-style-outline
        .wp-block-button__link.has-#{$slug}-background-color
    ) {
    background-color: #{$var} !important;
  }

  :root
    :where(
      .wp-block-button.is-style-outline
        .wp-block-button__link.has-#{$slug}-color
    ) {
    color: #{$var} !important;
  }

  .is-style-outline .wp-block-button__link.has-#{$slug}-color {
    border-color: #{$var};

    &:hover,
    &:focus {
      color: #{$var} !important;
    }
  }

  .wp-block-button__link.has-#{$slug}-color {
    color: #{$var} !important;
  }
}

/* Red color scheme */
@each $slug, $var in $red_colors {
  .has-#{$slug}-background-color {
    background-color: #{$var};
  }

  .has-#{$slug}-color {
    color: #{$var};
  }

  :root
    :where(
      .wp-block-button.is-style-outline
        .wp-block-button__link.has-#{$slug}-background-color
    ) {
    background-color: #{$var} !important;
  }

  :root
    :where(
      .wp-block-button.is-style-outline
        .wp-block-button__link.has-#{$slug}-color
    ) {
    color: #{$var} !important;
  }

  .is-style-outline .wp-block-button__link.has-#{$slug}-color {
    border-color: #{$var};

    &:hover,
    &:focus {
      color: #{$var} !important;
    }
  }

  .wp-block-button__link.has-#{$slug}-color {
    color: #{$var} !important;
  }
}

/* Silver color scheme */
@each $slug, $var in $silver_colors {
  .has-#{$slug}-background-color {
    background-color: #{$var};
  }

  .has-#{$slug}-color {
    color: #{$var};
  }

  :root
    :where(
      .wp-block-button.is-style-outline
        .wp-block-button__link.has-#{$slug}-background-color
    ) {
    background-color: #{$var} !important;
  }

  :root
    :where(
      .wp-block-button.is-style-outline
        .wp-block-button__link.has-#{$slug}-color
    ) {
    color: #{$var} !important;
  }

  .is-style-outline .wp-block-button__link.has-#{$slug}-color {
    border-color: #{$var};

    &:hover,
    &:focus {
      color: #{$var} !important;
    }
  }

  .wp-block-button__link.has-#{$slug}-color {
    color: #{$var} !important;
  }
}

/* Olive color scheme */
@each $slug, $var in $olive_colors {
  .has-#{$slug}-background-color {
    background-color: #{$var};
  }

  .has-#{$slug}-color {
    color: #{$var};
  }

  :root
    :where(
      .wp-block-button.is-style-outline
        .wp-block-button__link.has-#{$slug}-background-color
    ) {
    background-color: #{$var} !important;
  }

  :root
    :where(
      .wp-block-button.is-style-outline
        .wp-block-button__link.has-#{$slug}-color
    ) {
    color: #{$var} !important;
  }

  .is-style-outline .wp-block-button__link.has-#{$slug}-color {
    border-color: #{$var};

    &:hover,
    &:focus {
      color: #{$var} !important;
    }
  }

  .wp-block-button__link.has-#{$slug}-color {
    color: #{$var} !important;
  }
}

/* Black */
.has-black-background-color {
  background-color: variables.$black;
}

.has-black-color {
  color: variables.$black;
}

:root
  :where(
    .wp-block-button.is-style-outline
      .wp-block-button__link.has-black-background-color
  ) {
  background-color: variables.$black !important;
}

:root
  :where(
    .wp-block-button.is-style-outline .wp-block-button__link.has-black-color
  ) {
  color: variables.$black !important;
}

.is-style-outline .wp-block-button__link.has-black-color {
  border-color: variables.$black;

  &:hover,
  &:focus {
    color: variables.$black !important;
  }
}

.wp-block-button__link.has-black-color {
  color: variables.$black !important;
}
