/* Content Navigation */
.navigation {
  font-weight: bold;
  padding: 20px 5%;
  width: 100%;

  .navlinks,
  .nav-links {
    text-align: center;
    margin: 0 auto;
  }

  .nav-links {
    display: grid;
    grid-template-rows: auto 20px auto;
    justify-items: center;

    a {
      text-decoration: none;
    }
  }

  // Navigation separator- added with jQuery in jgd-bizelite-scripts.js
  .nav-separator {
    background: url(images/jgd-bizelite-assets.svg) no-repeat -20px -45px;
    height: 20px;
    width: 20px;
  }

  .nav-previous,
  .nav-next {
    margin: 1em 0;
  }
}

@media screen and (min-width: 40.063em) {
  // 40.063em = 641px
  .navigation {
    .nav-links {
      grid-template-columns: 1fr 20px 1fr;
      grid-template-rows: auto;
      min-height: 20px;
    }

    .nav-previous,
    .nav-next {
      margin: 0px;
    }

    .nav-previous {
      justify-self: start;
      margin-right: 1rem;
      text-align: left;
    }

    .nav-next {
      justify-self: end;
      margin-left: 1rem;
      text-align: right;
    }
  }
}

@media screen and (min-width: 85.438em) {
  // 85.438em = 1367px
  .navigation {
    padding: 20px 10%;
  }
}
