/* Content Navigation */
.navigation {
	float: left;
	font-weight: bold;
	padding: 20px 5%;
	width: 100%;

	.navlinks,
	.nav-links {
		text-align: center;
		margin: 0 auto;
	}

	.nav-links {
		min-height: 72px;

		a {
			text-decoration: none;
		}
	}

	// Navigation separator- added with jQuery in jgd-bizelite-scripts.js
	.nav-separator {
		background: url(images/jgd-bizelite-assets.svg) no-repeat -20px -45px;
		display: inline-block;
		height: 20px;
		width: 20px;
	}

	.nav-previous,
	.nav-next {
		margin: 1em 0;
	}
}

@media screen and (min-width: 40.063em) { // 40.063em = 641px
	.navigation {
		.nav-links {
			min-height: 20px;
		}

		.nav-previous,
		.nav-next {
			margin: 0px;
		}

		.nav-previous {
			float: left;
			max-width: 45%;
		}

		.nav-next {
			float: right;
			max-width: 45%;
		}
	}
}

@media screen and (min-width: 85.438em) { // 85.438em = 1367px
	.navigation {
		padding: 20px 10%;
	}
}
