/* -- Layout overrides -- */

/* 3 Column */
@media screen and (min-width: 64.063em) { // 64.063em = 1025px
  .three-col-r,
  .three-col-l {
    .menu-social {
  		width: 200px;
  	}

    .gallery-caption {
  		width: 100px;
  	}

    .gallery img {
  		width: 100px;
  		height: 100px;
  	}

    .secondary.widget-area {
  		border-left: 4px solid $black_25_opacity;
  	}

    .widgettitle {
  		@include hide-text-overflow;
  		background: url(images/jgd-bizelite-assets.svg) no-repeat -20px -223px $base_color;
  		width: 196px;
  	}

    .widget {
  		width: 196px;
  	}

    .widget_search .search-input {
   		max-width: 110px;
   	}

    .widget_categories select,
  	.widget_archive select {
  		width: 156px;
  	}

    .textwidget img,
  	.textwidget select {
  		max-width: 156px;
  	}
  }
}

/* Magazine (Grid Style) */
.mag-grid {
  table,
  table th,
  table td {
    border: 1px solid $dark_gray;
  }

  .post {
  	margin: 10px 2.5%;

  	.index-meta {
  		padding: 0px;
  	}
  }

  .entry-title {
  	font-size: 1.29rem;
  	line-height: 1em;
  	margin-bottom: 0.5em;
    padding: 0px;
  }

  a.post-edit-link {
  	margin-left: 0;
  }

  .entry {
  	background-color: $black_12_opacity;
  	border: 0;
  	border-bottom: solid 2px $silver;
  	margin: 1em 0;
  	padding: 20px;
  	overflow-x: hidden;

    p:first-of-type {
    	clear: left;
    }
  }

  .sticky .entry {
  	border-bottom: solid 2px $medium_gray;
  }

  blockquote {
  	background-color: transparent;
  }

  .wp-post-image {
  	float: none;
  	margin: 0 0 1em 0;
  }

  .gallery {
  	margin-bottom: 1em;
  }

  .wp-caption-text {
  	margin-bottom: 1em;
  }

  #comment {
  	width: 100%;
  }

  .wp-block-columns {
    flex-direction: column;
  }
}

.mag-grid.archive,
.mag-grid.search {
  .archive-title,
  .category-archive-title {
    padding: 20px 0px 0px 0px;
  }

  &.archive hr,
  &.category hr,
  &.tag hr {
    margin-left: 0px;
    margin-right: 0px;
  }

  .index-meta {
    padding: 20px 0px;
  }
}

@media screen and (min-width: 33.313em) {
	.mag-grid a.more-link {
    display: block;
	}
}

@media screen and (min-width: 48em) { // 48em = 768px
  .mag-grid {
    .post,
    .type-page {
  		display: inline-block;
  		vertical-align: top;
  		width: 44.5%; /* for rounding errors with inline-block */
  	}

    .index-meta {
  		max-width: 100%;
  	}

    .gallery-item {
  		width: 50%;
  	}
  }
}

@media screen and (min-width: 85.438em) { // 85.438em = 1367px
	.mag-grid {
    .post,
    .type-page {
		  margin: 10px 1.5%;
		  width: 29.5%;
    }
	}
}

/* Featured Articles style */
.mag-featured {
  .post {
    padding: 20px 10%;
  }

  .post.has-post-thumbnail:nth-of-type(1) {
    background-color: $black_12_opacity;
    border-bottom: 4px solid $silver;
    clear: left;
    margin: 20px 10%;
    padding: 20px;

    .entry-header {
      position: relative;
    }

    .entry-title-block {
      background-color: $black_50_opacity;
      border-bottom: 2px solid $white_50_opacity;
      color: $white;
      padding: 10px 20px;
      position: absolute;
      top: 0px;
      width: 100%;

        a:link,
        a:visited {
          color: $white;
        }

        a:active,
        a:hover {
          color: $light_gray;
        }
      }

      .entry-title {
        @include hide-text-overflow;
        line-height: 1em;
        font-size: 1.29rem;
      }

      .index-meta {
        padding-bottom: 0px;

        p {
          border-bottom-color: transparent;
        }
      }

      .wp-post-image {
      	float: none;
      	margin: 0 0 1em 0;
      }
    }
}

.mag-featured:not(.paged):not(.search) {
  .post:nth-of-type(2),
  .post:nth-of-type(3),
  .post:nth-of-type(4) {
    margin: 10px 10%;
    padding: 0px;

    .entry-title {
      font-size: 1.29rem;
      line-height: 1em;
      margin-bottom: 0.5em;
      padding: 0px;
    }

    .entry {
      background-color: $black_12_opacity;
      padding: 20px;
    }
  }
}

@media screen and (min-width: 40.063em) { // 40.063em = 641px
  .mag-featured {
    .post.has-post-thumbnail:nth-of-type(1) {
      .entry-title-block {
        width: auto;
      }

      .entry-title {
        font-size: 1.71rem;
      }
    }
  }
}

@media screen and (min-width: 48em) { // 48em = 768px
  .mag-featured:not(.paged):not(.search) {
    .post:nth-of-type(2),
    .post:nth-of-type(3),
    .post:nth-of-type(4) {
      display: inline-block;
      vertical-align: top;
      width: 37%;
    }

    .post:nth-of-type(2),
    .post:nth-of-type(4) {
      margin: 10px 2.5% 10px 10%;
    }

    .post:nth-of-type(3) {
      margin: 10px 10% 10px 2.5%;
    }
  }
}

@media screen and (min-width: 85.438em) { // 85.438em = 1367px
  .mag-featured:not(.paged):not(.search) {
    .post:nth-of-type(2),
    .post:nth-of-type(3),
    .post:nth-of-type(4) {
      margin: 10px 1.5%;
      width: 24%;
    }

    .post:nth-of-type(2) {
      margin: 10px 1.5% 10px 10%;
    }

    .post:nth-of-type(3) {
      margin: 10px 1.5%;
    }

    .post:nth-of-type(4) {
      margin: 10px 10% 10px 1.5%;
    }
  }
}
