/* -- Posts / Pages -- */
.entry-title {
	a:link,
	a:visited {
		color: $black;
		text-decoration: none;
	}

	a:active,
	a:hover {
		color: $medium_gray;
	}
}

.post,
.type-page {
	.index-meta {
		padding: 20px 0px;

		p {
			border-bottom: 1px solid $silver;
			margin-bottom: 0px;
			padding: 0.325em 0;
		}
	}
}

.post-blog,
.type-page,
.error404 {
	clear: both;
	padding: 0.5em 0px;

	.entry {
		&-title {
			line-height: 1em;
			padding: 0px 5%;
		}

		background-color: $base_color;
		border: 2px solid $silver;
		clear: both;
		margin: 20px 5%;
		overflow-x: hidden;
		padding: 20px 1.5em;

		 > * {
			margin-left: auto;
			margin-right: auto;
			max-width: 740px;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 0.2em auto;
		}
	}

	// For each icon type, icons are added with jQuery because Themify icons are applied via a css class
	// See the file scripts/jgd-bizelite-scripts.js
	.index-meta {
		padding: 20px 5%;

		span[class*="ti-"] {
			margin: 0px 3px;
		}

		span[class="ti-pencil"] {
			float: left;
			margin: 20px 10px 0px 0px;
		}

		span[class="ti-pencil"] + div {
			margin-left: 20px;
		}
	}

	.page-links {
		text-align: center;
	}

	.post-page-numbers {
		border: 1px solid $silver;
		display: inline-block;
		min-width: 44px;
		padding: 0.5em;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	.post-page-numbers.current {
		border-color: $light_gray;
	}
}

.type-page .entry-title,
.error404 .entry-title {
	margin-top: 0.5em;
}

@media screen and (min-width: 40.063em) { // 40.063em = 641px
	.post-blog,
	.type-page {
		.index-meta {
			padding: 20px 50% 20px 5%;
		}

		.entry {
			margin: 20px calc(2.5% + 20px);
			padding: 20px 3em;
		}
	}
}

@media screen and (min-width: 85.438em) { // 85.438em = 1367px
	.post-blog,
	.type-page {
		.entry {
			margin: 20px calc(10% + 20px);

			&-title {
				padding: 0px 10%;
			}
		}

		.index-meta {
			padding: 20px 50% 20px 10%;
		}
	}
}

/* Attachment Page */
.attachment {
	.post-parent-return {
		font-weight: bold;
		margin-bottom: 0px;
		text-align: center;
	}

	.post-parent-return,
	.index-meta {
		padding: 20px 5%;
	}

	.entry-title {
		padding: 0px 5%;
	}

	.entry img {
		margin: 0 auto 1em;
		display: block;
	}
}

@media screen and (min-width: 85.438em) {
	.attachment {
		.post-parent-return,
		.index-meta {
			padding: 20px 10%;
		}

		.entry-title {
			padding: 0px 10%;
		}
	}
}

/* Archive Pages */
.archive,
.category,
.tag,
.search {
	.archive-title {
		padding: 20px 5% 0px 5%;
	}

	hr {
		margin-left: 5%;
		margin-right: 5%;
	}
}

.category .archive-title {
	margin-top: 0.5em;
}

.author {
	.author-meta {
		padding: 20px 5%;
	}

	.author-sep {
		margin-top: 0px;
	}
}

.search .search-subtitle {
	padding: 0px 5%;
}

@media screen and (min-width: 85.438em) {
	.archive,
	.category,
	.tag,
	.search {
		.archive-title {
			clear: both;
			padding: 20px 10% 0px 10%;
		}

		hr {
			margin-left: 10%;
			margin-right: 10%;
		}
	}

	.author .author-meta {
		padding: 20px 10%;
	}

	.search .search-subtitle {
		padding: 0px 10%;
	}
}

/* Comments Section */
.comments-section {
	.comment-author,
	.comment-meta {
		line-height: 2em;
	}

	.children {
		padding-left: 2em;
	}

	.comment {
		border-bottom: 2px solid $light_gray;
		padding-bottom: 1em;
		list-style: none;
	}

	.commentlist li li {
		border-bottom: 0;
	}

	.comment-body {
		padding: 1em;
	}

	.thread-odd {
		background-color: $text_color_light;
	}

	.bypostauthor {
		background-color: $silver;
		font-weight: bold;
	}

	.bypostauthor a {
		color: $white;
	}

	.bypostauthor pre {
		color: $text_color;
	}

	.comment-meta a {
		color: $black;
	}
}

/* Page Templates */
.page-template-landing,
.page-template-full-page-width {
	.post-blog .entry,
	.type-page .entry {
		background-color: transparent;
		border: none;
		margin: 0;
	}
}

.page-template-full-page-width {
	#main.texture {
		background-image: none;
	}

	.index-meta,
	.type-page,
	.type-page .entry {
		padding: 0;
	}

	.post-edit-link {
		margin: 20px 5%;
	}

	.type-page .entry > * {
		max-width: none;
	}
}

.page-template-page_featured_categories {
	.entry {
		margin: 20px 0px;
	}

	.type-page .entry-title,
	.type-page .meta {
		position: absolute;
		left: -9999px;
	}
}

@media screen and (min-width: 48em) { // 48em = 768px
	.page-template-thin-header,
	.page-template-page_featured_categories {
		.entry {
			margin: 20px 80px;
		}

		.entry-title {
			padding: 0px 80px;
		}

		.index-meta {
			padding-left: 80px;
		}
	}
}

@media screen and (min-width: 64.063em) { // 64.063em = 1025px
	.page-template-thin-header,
	.page-template-page_featured_categories {
		.index-meta {
			padding-left: 160px;
		}

		.entry-title {
			padding: 0px 160px;
		}

		.entry {
			margin: 20px 160px;
		}
	}
}

@media screen and (min-width: 85.438em) { // 85.438em = 1367px
	.page-template-thin-header .index-meta,
	.page-template-page_featured_categories .index-meta {
		padding: 20px 50% 20px 160px;
	}
}

.featured-cat-container {
	padding: 20px 5%;

	hr {
		margin-bottom: 0px;
	}
}

@media screen and (min-width: 48em) {
	.featured-cat-container {
		padding: 20px 80px;
	}
}

@media screen and (min-width: 64.063em) {
	.featured-cat-container {
		padding: 20px 160px;
	}
}

.featured-cat-title {
	padding: 10px 0px;
	text-align: center;
	border-bottom: 1px solid $silver;
}

.featured-cat-panel {
	display: flex;
	flex-direction: column;
	padding-top: 20px;

	.entry {
		margin: 1em 0px;
	}
}

@media screen and (min-width: 64.063em) {
	.featured-cat-panel {
		flex-direction: row;
	}
}

.featured-cat-post {
	margin: 0.5em 0px;

	.entry-title-featured {
		font-size: 1.29rem;
		font-weight: bold;

		a:link,
		a:visited {
			color: $black;
			text-decoration: none;
		}

		a:active,
		a:hover {
			color: $medium_gray;
		}
	}

	.entry {
		background-color: $black_12_opacity;
		border: transparent;
		padding: 20px;
	}

	.meta-featured {
		border-bottom: 1px solid $silver;
		padding: 0.325em 0px;
	}

	img {
		max-width: 100%;
	}

	.wp-post-image,
	.ti-image {
		display: block;
		float: none;
		margin: 0px auto 20px;
	}

	.ti-image {
		background-color: $black_12_opacity;
		color: $medium_gray;
		font-size: 5em;
		padding: 0.5em;
		text-align: center;
		max-width: 300px;
	}
}

@media screen and (min-width: 40.063em) { // 40.063em = 641px
	.featured-cat-post {
		margin: 0.5em 12.5%;
	}
}

@media screen and (min-width: 64.063em) {
	.featured-cat-post {
		margin: 0.5em 0px; // Restore from mobile screen widths
		width: 33%;

		.entry-title-featured {
			margin: 0px 1em 0.5em;
		}

		.entry {
			margin: 1em;
		}

		.meta-featured {
			margin: 0px 1em;
		}
	}
}

/* WooCommerce Pages */
.woocommerce .woo-content-container {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0.2em auto;
	}
}

.woocommerce .woocommerce-breadcrumb {
	color: $text_color;
	font-weight: bold;
	padding: 20px 5%;

	a {
		color: $link_color;
		text-decoration: none;

		&:hover {
			color: $link_hover_color;
		}
	}
}

.woocommerce .page-title {
	font-size: 1.71em;
	padding: 0 5%;
}

.woocommerce-notices-wrapper,
.woocommerce-result-count {
	padding: 0 5%;
}

.woocommerce .woocommerce-ordering {
	width: 100%;

	select {
		display: block;
		margin: 0.5em auto;
	}
}

.woocommerce .products ul,
.woocommerce ul.products {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 5%;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	background-color: $black_12_opacity;
	padding: 20px;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	max-width: 320px;
}

.woocommerce ul.products[class*="columns-"] li.product, .woocommerce-page ul.products[class*="columns-"] li.product {
	margin: 0 2% 20px 2%;
	width: 46%;
}

.woocommerce ul.products.columns-1 li.product,
.woocommerce-page ul.products.columns-1 li.product {
	margin: 0 auto 20px !important;
	width: 100% !important;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
	color: $black;
	font-size: 1.29rem;

	&:hover {
		color: $medium_gray;
	}
}

.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: $text_color;
}

.woocommerce ul.products li.product .price {
	font-size: 1rem;
}

.woocommerce ul.products li.product .button,
.woocommerce div.product form.cart .button,
.woocommerce #respond input#submit,
.woocommerce a.button, .woocommerce button.button,
.woocommerce input.button {
	background-color: $light_gray;
	border: 1px solid $silver;
	border-radius: 0;
	color: $text_color;
	display: block;
	font-size: 1rem;
	font-weight: normal;
	padding: 5px 10px;
	text-align: center;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
	background-color: $light_gray;
	color: $medium_dark_gray;
}

.woocommerce #respond input#submit,
.woocommerce a.button, .woocommerce button.button,
.woocommerce input.button {
	&:hover {
		color: $text_color;
		background-color: $light_gray;
	}
}

.woocommerce nav.woocommerce-pagination {
	margin-bottom: 1em;
}

.woocommerce nav.woocommerce-pagination ul {
	border: transparent;
}

.woocommerce nav.woocommerce-pagination ul li {
	border-right: transparent;
	margin: 0 0.125em;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
	min-width: 44px;
}

.woocommerce nav.woocommerce-pagination ul li a {
	border: 1px solid $silver;

	&:hover,
	&:focus {
		background-color: transparent;
		color: $link_hover_color;
	}
}

.woocommerce nav.woocommerce-pagination ul li span.current {
	background-color: transparent;
	border: 1px solid $silver;
	color: $text_color;
}

.woocommerce span.onsale {
	background-color: $black_50_opacity;
	border-bottom: 2px solid $white_50_opacity;
	border-radius: 0;
	font-size: .875em;
	line-height: normal;
	min-width: inherit;
	min-height: inherit;
	padding: 0.5em 1em;
	top: auto;
	left: 0;
}

.woocommerce ul.products li.product .onsale {
	top: 20px;
	right: auto;
	margin: 0;
	width: auto;
}

.woocommerce.single-product span.onsale {
	font-size: 1.29rem;
}

.woocommerce.single-product .related span.onsale {
	font-size: 1rem;
}

.woocommerce.single-product .product {
	margin: 20px 5%;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	margin-bottom: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-color: $silver;
	border-radius: 0;
	width: 100%;
}

.woocommerce div.product .woocommerce-tabs .panel {
	background-color: $white;
	border-left: 1px solid $silver;
	border-bottom: 1px solid $silver;
	border-right: 1px solid $silver;
	padding: 20px 5%;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before {
	border-bottom-right-radius: 0;
	border-width: 0;
	box-shadow: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
	border-bottom-left-radius: 0;
	border-width: 0;
	box-shadow: none;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background-color: $medium_gray;
	border-bottom: 1px solid $dark_gray;
	font-weight: bold;

	&:hover {
		background-color: $black;
	}
}

.woocommerce table.shop_table {
	border-radius: 0;
	border-color: $light_gray;
}

.woocommerce #content table.cart td.actions .coupon,
.woocommerce table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon {
	display: flex;
	justify-content: space-between;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	background-color: $light_gray;
	border-radius: 0px;
}

.woocommerce-MyAccount-navigation ul {
	list-style-type: none;
	padding-left: 20px;
	padding-right: 20px;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
	background-color: $light_gray;
}

.woocommerce-MyAccount-navigation-link {
	border-bottom: 1px solid $silver;

	a {
		display: block;
		font-weight: bold;
		padding: 0.5em;
		text-decoration: none;
	}

	&.is-active a {
		background-color: $white;
	}
}

.woocommerce form .show-password-input,
.woocommerce-page form .show-password-input {
	top: auto;
}

@media screen and (min-width: 48em) {
	.woocommerce ul.products.columns-1 {
		flex-direction: column;
	}

	.woocommerce ul.products.columns-1 li.product,
	.woocommerce-page ul.products.columns-1 li.product {
		max-width: 480px;
	}

	.woocommerce ul.products.columns-2 li.product,
	.woocommerce-page ul.products.columns-2 li.product {
		margin: 0 2% 20px 2%;
		width: 46%;
	}

	.woocommerce ul.products.columns-3 li.product,
	.woocommerce-page ul.products.columns-3 li.product,
	.woocommerce ul.products.columns-5 li.product,
	.woocommerce-page ul.products.columns-5 li.product,
	.woocommerce ul.products.columns-6 li.product,
	.woocommerce-page ul.products.columns-6 li.product {
		margin: 0 1.5% 20px 1.5%;
		width: 30%;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		width: auto;
	}

	.woocommerce #content table.cart td.actions .coupon,
	.woocommerce table.cart td.actions .coupon,
	.woocommerce-page #content table.cart td.actions .coupon,
	.woocommerce-page table.cart td.actions .coupon {
		+ .button {
			float: right;
		}
	}
}

@media screen and (min-width: 64.063em) {
	.woocommerce-cart a.button {
		margin: 0 auto;
		width: 50%;
	}
}

@media screen and (min-width: 85.438em) {
	.woocommerce ul.products.columns-4 li.product,
	.woocommerce-page ul.products.columns-4 li.product {
		margin: 0 1% 20px 1%;
		width: 23%;
	}

	.woocommerce ul.products.columns-5 li.product,
	.woocommerce-page ul.products.columns-5 li.product {
		margin: 0 1% 20px 1%;
		width: 18%;
	}

	.woocommerce ul.products.columns-6 li.product,
	.woocommerce-page ul.products.columns-6 li.product {
		margin: 0 1% 20px 1%;
		width: 14.66%;
	}
}
