@use "../partials/variables";

/* Header Search Bar */
.searchbar {
  border-bottom: 1px solid variables.$black_25_opacity;
  height: 43px;

  .search-form {
    display: grid;
    grid-template-columns: 1fr 40px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
  }

  label {
    font-size: 1em;
    font-weight: bold;
    color: variables.$white;
    margin-left: 1em;
  }

  .search-input,
  .search-submit {
    margin: 3px 0px;
  }

  .search-input {
    border: 1px solid variables.$dark_gray;
    min-height: 36px;
    max-width: 240px;
  }

  .search-submit {
    background: url(images/jgd-bizelite-assets.svg) no-repeat -234px -382px;
    margin: 9px 0.5em;
  }
}

@media screen and (min-width: 40.063em) {
  // 40.063em = 641px
  .searchbar,
  .searchbar .search-form {
    height: 36px;
    margin-left: 0.5em;
  }

  .searchbar {
    .search-input {
      margin: 6px 0px;
      min-height: auto;
    }

    .search-submit {
      margin: 5px 0.5em;
    }
  }
}

@media screen and (min-width: 48em) {
  // 48em = 768px
  .searchbar {
    border-left: 1px solid variables.$black_25_opacity;
    border-bottom: transparent;
    position: absolute;
    right: 0px;
    top: auto;
    width: 200px;

    .search-input {
      width: 152px;
    }
  }
}

@media screen and (min-width: 64.063em) {
  // 64.063em = 1025px
  .searchbar {
    width: 280px;

    .search-input {
      width: 232px;
    }

    .three-col-r &,
    .three-col-l & {
      width: 200px;

      .search-input {
        width: 144px;
      }
    }
  }
}

/* Global Search Bar styles */
.search-submit {
  background: url(images/jgd-bizelite-assets.svg) no-repeat -204px -382px;
  border: transparent;
  display: inline-block;
  height: 24px;
  margin: 0px 0.5em;
  min-width: 24px;
  padding: 0px;
  width: 24px;
}
