@use "../partials/variables";

/* -- Sidebar / Widgets -- */

.widget-area {
  margin-bottom: 20px;
}

.widget-area > ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.widget {
  border-top: 4px solid variables.$black_25_opacity;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  padding-bottom: 20px;
  width: 276px;

  a {
    text-decoration: none;
    font-weight: bold;
  }

  .widgettitle,
  .wp-block-heading {
    background: url(images/jgd-bizelite-assets.svg) no-repeat -20px -73px
      variables.$base_color;
    width: 276px;
    padding: 8px 20px 18px 20px;
  }

  h1.wp-block-heading,
  h2.wp-block-heading {
    font-size: 1.29em;
  }

  .button-dropdown--light {
    float: right;
    padding: 0;
  }

  ul {
    display: block;
    padding: 20px;
  }

  ul ul {
    padding: 0 20px 0 20px;
  }

  li {
    border-bottom: 1px solid variables.$silver;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
  }

  li > div {
    line-height: 1.29em;
  }

  li > a {
    padding: 0.5em 0;
    display: inline-block;
  }

  @media (prefers-reduced-motion: no-preference) {
    .children,
    .sub-menu,
    .wp-block-navigation__submenu-container {
      transition: all 0.25s ease-in-out;

      &.is-zero-height li {
        opacity: 0;
      }

      li {
        opacity: 1;
        transition: opacity 0.5s;
      }
    }
  }

  .children,
  .sub-menu,
  .wp-block-navigation__submenu-container {
    li {
      border-bottom: transparent;
    }
  }

  .login-message {
    font-weight: bold;
  }
}

.widget_block:has(.wp-block-heading) {
  padding-bottom: 0px;
}

.widget,
.widget li {
  list-style: none;
}

.wp-calendar-nav {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 40.063em) {
  // 40.063em = 641px
  .widget-area {
    width: 95%;
    margin: 0 2.5%;
  }

  .widget li {
    margin: 0 20px 0 0;
  }

  .widget li li {
    border-top: transparent;
    margin: 0;
  }
}

@media screen and (min-width: 48em) {
  // 48em = 768px
  .widget-area > ul {
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &:has(.widget .wp-block-heading) {
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  .widget {
    margin: 0px 20px;
  }
}

@media screen and (min-width: 64.063em) {
  // 64.063em = 1025px
  .widget-area {
    width: 100%;
    margin: 0px;
  }

  .widget-area > ul {
    flex-direction: column;
  }

  .widget {
    border-top: transparent;
    margin: 0px;
    padding-bottom: 0px;
  }

  .widget_search .search-form,
  .woocommerce-product-search {
    padding: 10px 20px;
  }

  .widget_search .search-input {
    max-width: 188px;
  }
}

/* Specific Widgets */

.widget_categories select,
.widget_archive select {
  width: 236px;
  margin: 10px 20px;
}

.wp-calendar-table {
  background-color: variables.$base_color;
  border: 1px solid variables.$medium_gray;
  border-collapse: collapse;

  thead {
    background-color: variables.$pale_gray;
    text-align: center;
  }

  th {
    font-weight: bold;
  }

  tbody td {
    border: 1px solid variables.$medium_gray;
    text-align: center;
  }

  th,
  td {
    border: 0;
  }
}

.widget_calendar {
  .calendar_wrap {
    width: 196px;
    margin: 20px auto;
  }

  #wp-calendar {
    width: 100%;
  }

  th,
  td {
    padding: 0;
  }

  caption {
    width: 196px;
  }
}

.widget_search .search-form {
  padding: 10px;
}

.textwidget {
  padding: 20px;

  img {
    margin: 10px 0;
    max-width: 236px;
    height: auto;
  }

  .wp-caption img {
    margin: 0px;
  }

  select {
    margin: 0;
    max-width: 236px;
  }
}

.tagcloud {
  padding: 20px;
}

.widget_rss img.rss-widget-icon {
  margin: 0;
}

.widget_rss .rssSummary {
  color: variables.$text_color;
}

.widget_rss .rssSummary::first-line {
  font-weight: bold;
}
