/* CSS document */
body.mceContentBody {
	font-family: FreeSerif, "Times New Roman", Times, serif;
	color: #333333;
}

p {
	margin-bottom: 1em;
}

p:first-child:first-letter {
	font-size: 2.14em;
}

p,
ul li,
ol li,
blockquote {
	font-size: 1em;
	line-height: 1.29em;
}

blockquote {
	background-color: #EDEDED;
	padding: 1em;
	font-style: italic;
	clear: both;
}

blockquote p {
	font-size: 1em;
}

h1 {
	font-size: 2.14em; /* ~30px */
}

h2 {
	font-size: 1.71em; /* ~24px */
}

h3 {
	font-size: 1.29em; /* ~18 px */
}

h4 {
	font-size: 0.86em; /* ~12 px */
}

h5 {
	font-size: 0.71em; /* ~10 px */
}

h6 {
	font-size: 0.57em; /* ~8px */
}

a:link,
a:visited {
	color: #0000C4;
	text-decoration: none;
}

a:hover,
a:active {
	color: #C00000;
	text-decoration: underline;
}

img {
	margin: 1em;
}

table {
	margin: 1em auto;
}

table,
table th,
table td {
	border: 1px solid #EDEDED;
}

table th, table td {
	padding: 0.5em;
	font-family: "Times New Roman", Times, FreeSerif, serif;
}

table caption {
	color: #FFFFFF;
	background-color: #000000;
	font-weight: bold;
}

pre {
	background-color: #EDEDED;
	border: 1px solid #C0C0C0;
	overflow-x: auto;
	padding: 1em;
}

form p:first-child:first-letter {
	font-size: 1em;
}

form input,
form textarea {
	border: 1px solid #000000;
}

form input:focus,
form textarea:focus {
	background-color: #EDEDED;
}

form input,
form textarea,
select option {
	font-family: "Times New Roman", Times, FreeSerif, serif;
}

form input#searchsubmit {
	border: 0;
}