/* Green color scheme */
// Base
.green {
	background-color: $green;

  a:link,
  a:visited {
  	color: $dark_green;
  }

  a:hover,
  a:active {
  	color: $green;
  }

  table caption {
  	background-color: $dark_green;
  }

	.wp-block-calendar table tfoot {
		a:link,
		a:visited {
			color: $dark_green;
		}

		a:hover,
	  a:active {
	    color: $green;
	  }
	}
}

// Buttons
.green {
  .button-dropdown {
    background-color: $dark_green;
  }

  .button-primary {
  	background-color: $medium_green;
  	border-bottom-color: $dark_green;
  }

  .button-primary:hover {
  	background-color: $dark_green;
  	color: $white;
  }
}

// Header/Footer
.green {
  .branding,
  #footer {
  	background-color: $dark_green;
  }

  &.custom-header .site-title-block {
  	background-color: $green_50_opacity;
  }

  #access {
  	background-color: $medium_green;
  	border-top-color: $green;
  }

  .menubar-title {
  	color: $dark_green;
  }

  .pagemenu .menu {
  	background-color: $dark_green;
  }

  .searchbar .search-input {
  	border-color: $green;
  }

  .blog-title a:visited,
  .blog-title a:link {
  	color: $white;
  }

  .site-info a:link,
  .site-info a:visited {
  	color: $white;
  }

  .up,
  .down {
  	background-color: $green_50_opacity;
  }
}

// WooCommerce
.green {
	&.woocommerce .woocommerce-breadcrumb a:hover,
	&.woocommerce nav.woocommerce-pagination ul li a:hover,
	&.woocommerce nav.woocommerce-pagination ul li a:focus {
		color: $green;
	}

	&.woocommerce ul.products li.product .woocommerce-loop-category__title,
	&.woocommerce ul.products li.product .woocommerce-loop-product__title,
	&.woocommerce ul.products li.product h3 {
		color: $dark_green;

		&:hover {
			color: $medium_green;
		}
	}

	.woocommerce #respond input#submit.alt,
	.woocommerce a.button.alt,
	.woocommerce button.button.alt,
	.woocommerce input.button.alt {
		background-color: $medium_green;
		color: $dark_green;
		border-bottom: 1px solid $dark_green;
		font-weight: bold;

		&:hover {
			background-color: $green;
			color: $white;
		}
	}

	.wc-block-grid .wc-block-components-product-title {
		a:hover {
			color: $green;
		}
	}

	.wc-block-grid__product-title {
		color: $dark_green;

		&:hover {
			color: $green;
		}
	}

	.wc-block-featured-product__link .wp-block-button__link {
		background-color: $green_50_opacity;
		border-bottom-color: $dark_green;

		&:hover {
			background-color: $dark_green;
		}
	}
}

@media screen and (min-width: 40.063em) {
	.green #access {
		border-bottom-color: $green;
		border-top: transparent;
	}
}

@media screen and (min-width: 48em) {
	.green .menu-social a:link,
	.green .menu-social a:visited {
		color: $white;
	}

	.green .menu-social .social-panel-expand {
		background-color: $medium_green;
		border-bottom-color: $green;
	}
}

// Posts/Pages
.green {
  .nav-separator {
  	background: url(images/jgd-bizelite-assets.svg) no-repeat -80px -45px;
  }

  .entry-title,
  .entry-title-featured {
    a:link,
    a:visited {
      color: $dark_green;
    }

    a:active,
    a:hover {
      color: $medium_green;
    }
  }

  .sticky .entry {
  	border-color: $green;
  }

  .wp-caption-text,
  .gallery-caption,
  .wp-block-image figcaption,
  .wp-block-gallery .blocks-gallery-image figcaption,
  .wp-block-gallery .blocks-gallery-item figcaption {
  	background-color: $dark_green;
  }

  .wp-caption-text {
  	background-color: $dark_green;
  }

  .wp-caption a:link,
  .wp-caption a:visited,
  .gallery-caption a:link,
  .gallery-caption a:visited {
  	color: $link_color_light--green;
  }

  .bypostauthor {
  	background-color: $medium_green;
  	color: $text_color_light;

    a {
    	color: $white;
    	text-decoration: none;
    }

    .button-primary {
    	background-color: $dark_green;
    }
  }

  .wp-block-pullquote.is-style-default {
  	border-color: $medium_green;
  }

	&.mag-featured {
		.post.has-post-thumbnail:nth-of-type(1) {
			.entry-title-block {
				a.post-edit-link:link,
				a.post-edit-link:visited {
					color: $dark_green;
				}

				a.post-edit-link:active,
				a.post-edit-link:hover {
					color: $white;
				}
			}
		}
	}
}

// Sidebar
.green {
  .widget-area ul ul li {
	  color: $green;
  }

  .widgettitle {
  	background: url(images/jgd-bizelite-assets.svg) no-repeat -20px -123px $base_color;
  }

  #wp-calendar {
  	border-color: $dark_green;

    tbody td {
    	border-color: $dark_green;
    }
  }
}

@media screen and (min-width: 64.063em) {
	.green.three-col-r .widgettitle,
	.green.three-col-l .widgettitle {
		background: url(images/jgd-bizelite-assets.svg) no-repeat -20px -273px $base_color;
	}
}
