/* Dark Background / Light Text */
// Base
.light-text {
	color: #dddddd;

  a:link,
  a:visited {
  	color: $white;
  }

  a:active,
  a:hover {
  	color: $light_gray;
  }

  table,
  table th,
  table td {
  	border-color: $medium_gray;
  }

  blockquote,
  pre {
  	background-color: $medium_dark_gray;
  }
}

// Posts/Pages
.light-text {
  .entry-title,
  .featured-cat-post {
    a:link,
    a:visited {
      color: $white;
    }

    a:active,
    a:hover {
      color: $light_gray;
    }
  }

  .entry {
  	background-color: $base_color_dark;
  }

	.post-blog .entry,
	.type-page .entry {
		border-color: $medium_gray;
	}

	.post-blog .post-page-numbers,
	.type-page .post-page-numbers,
	.error404 .post-page-numbers {
		border-color: $white_25_opacity;

		&.current {
			border-color: $white_12_opacity;
		}
	}

	.index-meta p {
		border-color: $medium_gray;
	}

  .sticky .entry {
  	border-color: #dddddd;
  }

  .comments-section .comment {
  	border-color: $medium_gray;
  }

  .bypostauthor pre {
  	color: $text_color_light;
  }

  .thread-odd {
  	background-color: $medium_dark_gray;
  }

  .logged-in-as a:link,
  .logged-in-as a:visited {
  	color: $darker_gray;
  }

	.widget li {
		border-color: $medium_gray;
	}

	.gallery img,
	.wp-block-gallery img {
		border-color: $medium_gray;
	}

	.wp-block-calendar table tbody {
		color: #dddddd;
	}

	.wp-block-calendar table th {
		color: $darker_gray;
	}

	.wp-block-file {
		background-color: $medium_dark_gray;
	}

	.wp-block-table.is-style-stripes tbody tr:nth-child(2n + 1) {
		background-color: $medium_dark_gray;
	}

	&.woocommerce {
		.woocommerce-breadcrumb,
		ul.products li.product .price {
			color: $text_color_light;
		}

		.woocommerce-breadcrumb a:hover {
			color: $text_color_light;
		}

		ul.products li.product .woocommerce-loop-category__title,
		ul.products li.product .woocommerce-loop-product__title,
		ul.products li.product h3 {
			color: $white;

			&:hover {
				color: $text_color_light;
			}
		}

		nav.woocommerce-pagination ul li span.current {
			border-color: $white_25_opacity;
			color: $text_color_light;
		}

		nav.woocommerce-pagination ul li a {
			&:hover,
			&:active {
				color: $text_color_light;
			}
		}

		&.woocommerce.single-product div.product p.price {
			color: $text_color_light;
		}

		div.product .woocommerce-tabs ul.tabs li.active a,
		div.product .woocommerce-tabs .panel {
			color: $text_color;
		}

		.widget_shopping_cart .buttons a,
		&.widget_shopping_cart .buttons a {
			color: $text_color;
		}
	}

	.wc-block-components-pagination__page,
	.wc-block-components-pagination__page--active[disabled]:focus,
	.wc-block-components-pagination__page--active[disabled]:hover {
		color: $white;
	}

	.wc-block-components-pagination__page {
		border-color: $white_25_opacity;
	}

	.wc-block-components-pagination__page--active[disabled] {
		border-color: $white_12_opacity;
	}
}

// Sidebar
.light-text {
  .widget-area ul ul li {
  	color: $text_color_light;
  }

  .widgettitle,
  &.three-col-l .widgettitle,
  &.three-col-r .widgettitle {
  	background-color: $base_color_dark;
  }

  #wp-calendar {
  	background-color: $medium_dark_gray;

    thead {
    	background-color: $darker_gray;
    }
  }
}

@media screen and (min-width: 64.063em) {
	.light-text {
		&.no-decs #sidebar {
			border-color: $white_25_opacity;
		}
	}
}

// Color theme overrides
.light-text {
  &.blue {
    .sticky .entry {
    	border-color: #aaaae0;
    }

    .widgettitle {
    	background-color: $dark_blue;
    }
  }

  &.green {
    .sticky .entry {
    	border-color: #b8d8b8;
    }

    .widgettitle {
    	background-color: $dark_green;
    }
  }

  &.red {
    .sticky .entry {
    	border-color: #daadad;
    }

    .widgettitle {
    	background-color: $dark_red;
    }
  }

  &.silver {
    .sticky .entry {
    	border-color: $light_silver_alt;
    }

    a.post-edit-link:link,
    a.more-link:link,
    a.post-edit-link:visited,
    a.more-link:visited,
    a.comment-reply-link:link,
    a.comment-reply-link:visited {
    	color: $text_color;
    }

    .widgettitle {
    	background-color: $dark_silver_alt;
    	color: $white;
    }
  }

  &.olive {
    .sticky .entry {
    	border-color: #e0e0aa;
    }

    a.post-edit-link:link,
    a.more-link:link,
    a.post-edit-link:visited,
    a.more-link:visited,
    a.comment-reply-link:link,
    a.comment-reply-link:visited {
    	color: $black;
    }

    a.post-edit-link:hover,
    a.more-link:hover,
    a.post-edit-link:active,
    a.more-link:active,
    a.comment-reply-link:hover,
    a.comment-reply-link:active {
    	color: $white;
    }

    .bypostauthor a.comment-reply-link.button-primary {
      color: $white;
    }

    .widgettitle {
    	background-color: $dark_olive;
    }
  }
}
