/* Dark Background / Light Text */
// Base
.light-text {
	color: #dddddd;

  a:link,
  a:visited {
  	color: $white;
  }

  a:active,
  a:hover {
  	color: $light_gray;
  }

  table,
  table th,
  table td {
  	border-color: $medium_gray;
  }

  blockquote,
  pre {
  	background-color: $medium_dark_gray;
  }
}

// Posts/Pages
.light-text {
  .entry-title,
  .featured-cat-post {
    a:link,
    a:visited {
      color: $white;
    }

    a:active,
    a:hover {
      color: $light_gray;
    }
  }

  .entry {
  	background-color: $base_color_dark;
  }

	.post-blog .entry,
	.type-page .entry {
		border-color: $medium_gray;
	}

	.index-meta p {
		border-color: $medium_gray;
	}

  .sticky .entry {
  	border-color: #dddddd;
  }

  .comments-section .comment {
  	border-color: $medium_gray;
  }

  .bypostauthor pre {
  	color: $text_color_light;
  }

  .thread-odd {
  	background-color: $medium_dark_gray;
  }

  .logged-in-as a:link,
  .logged-in-as a:visited {
  	color: $darker_gray;
  }

	.widget li {
		border-color: $medium_gray;
	}

	.gallery img,
	.wp-block-gallery img {
		border-color: $medium_gray;
	}

	.wp-block-calendar table tbody {
		color: #dddddd;
	}

	.wp-block-calendar table th {
		color: $darker_gray;
	}
}

// Sidebar
.light-text {
  .widget-area ul ul li {
  	color: $text_color_light;
  }

  .widgettitle,
  &.three-col-l .widgettitle,
  &.three-col-r .widgettitle {
  	background-color: $base_color_dark;
  }

  #wp-calendar {
  	background-color: $medium_dark_gray;

    thead {
    	background-color: $darker_gray;
    }
  }
}

// Color theme overrides
.light-text {
  &.blue {
    .sticky .entry {
    	border-color: #aaaae0;
    }

    .widgettitle {
    	background-color: $dark_blue;
    }
  }

  &.green {
    .sticky .entry {
    	border-color: #b8d8b8;
    }

    .widgettitle {
    	background-color: $dark_green;
    }
  }

  &.red {
    .sticky .entry {
    	border-color: #daadad;
    }

    .widgettitle {
    	background-color: $dark_red;
    }
  }

  &.silver {
    .sticky .entry {
    	border-color: $light_silver_alt;
    }

    a.post-edit-link:link,
    a.more-link:link,
    a.post-edit-link:visited,
    a.more-link:visited,
    a.comment-reply-link:link,
    a.comment-reply-link:visited {
    	color: $text_color;
    }

    .widgettitle {
    	background-color: $dark_silver_alt;
    	color: $white;
    }
  }

  &.olive {
    .sticky .entry {
    	border-color: #e0e0aa;
    }

    a.post-edit-link:link,
    a.more-link:link,
    a.post-edit-link:visited,
    a.more-link:visited,
    a.comment-reply-link:link,
    a.comment-reply-link:visited {
    	color: $black;
    }

    a.post-edit-link:hover,
    a.more-link:hover,
    a.post-edit-link:active,
    a.more-link:active,
    a.comment-reply-link:hover,
    a.comment-reply-link:active {
    	color: $white;
    }

    .bypostauthor a.comment-reply-link.button-primary {
      color: $white;
    }

    .widgettitle {
    	background-color: $dark_olive;
    }
  }
}
