/* Silver color scheme */
// Base
.silver {
	background-color: $silver_alt;

  a:link,
  a:visited {
  	color: $darker_silver_alt;
  }

  a:hover,
  a:active {
  	color: $dark_silver_alt;
  }

  table caption {
  	background-color: $silver_alt;
  }

	.wp-block-calendar table tfoot {
		a:link,
		a:visited {
			color: $darker_silver_alt;
		}

		a:hover,
	  a:active {
	    color: $dark_silver_alt;
	  }
	}
}

// Buttons
.silver {
  .button-dropdown {
    background-color: $dark_silver_alt;
  }

  a.button-primary {
  	background-color: $silver;
  	border-bottom-color: $dark_silver_alt;
  	color: $text_color;
  }

  a.button-primary:hover {
  	background-color: $silver_alt;
  }
}

// Header/Footer
.silver {
  .branding,
  #footer {
	  background-color: $dark_silver_alt;
  }

  .blog-title a:link,
  .blog-title a:visited {
  	color: $white;
  }

	&.page-template-thin-header {
		.blog-title a:link,
		.blog-title a:visited {
			color: $text_color;
		}
	}

  &.custom-header .site-title-block {
  	background-color: $silver_50_opacity;
  }

  #access {
  	background-color: $silver;
  	border-bottom-color: $silver_alt;
  }

  .menubar-title,
  .searchform label {
  	color: $text_color;
  }

  .pagemenu {
    .menu {
    	background-color: $dark_silver_alt;
    }

    a:link,
    a:visited {
      color: $white;
    }

    a:active,
    a:hover {
      color: $black;
    }
  }

  .menu-social a {
  	color: $darker_silver_alt;
  }

  .site-info a:link,
  .site-info a:visited {
  	color: $white;
  }

  .up,
  .down {
  	background-color: $silver_50_opacity;
  }
}

.silver {
	&.woocommerce .woocommerce-breadcrumb a:hover,
	&.woocommerce nav.woocommerce-pagination ul li a:hover,
	&.woocommerce nav.woocommerce-pagination ul li a:focus {
		color: $dark_silver_alt;
	}

	&.woocommerce ul.products li.product .woocommerce-loop-category__title,
	&.woocommerce ul.products li.product .woocommerce-loop-product__title,
	&.woocommerce ul.products li.product h3 {
		color: $darker_silver_alt;

		&:hover {
			color: $dark_silver_alt;
		}
	}

	.woocommerce #respond input#submit.alt,
	.woocommerce a.button.alt,
	.woocommerce button.button.alt,
	.woocommerce input.button.alt {
		background-color: $silver;
		border-bottom: 1px solid $dark_silver_alt;
		color: $text_color;
		font-weight: bold;

		&:hover {
			background-color: $silver_alt;
		}
	}

	.wc-block-grid .wc-block-components-product-title {
		a:hover {
			color: $dark_silver_alt;
		}
	}

	.wc-block-grid__product-title {
		color: $darker_silver_alt;

		&:hover {
			color: $dark_silver_alt;
		}
	}

	.wc-block-featured-product__link .wp-block-button__link {
		&:hover {
			background-color: $darker_silver_alt;
		}
	}
}

@media screen and (min-width: 40.063em) {
	.silver #access {
		border-bottom-color: $silver_alt;
		border-top: transparent;
	}
}

@media screen and (min-width: 48em) {
	.silver .menu-social a {
		color: $white;
	}

	.silver .menu-social .social-panel-expand {
		background-color: $silver;
		border-bottom-color: $silver_alt;
	}
}

// Posts/Pages
.silver {
  .nav-separator {
	  background: url(images/jgd-bizelite-assets.svg) no-repeat -140px -45px;
  }

  .entry-title,
  .entry-title-featured {
    a:link,
    a:visited {
      color: $dark_silver_alt;
    }

    a:active,
    a:hover {
      color: $silver_alt;
    }
  }

  .wp-caption-text,
  .gallery-caption,
  .wp-block-image figcaption,
  .wp-block-gallery .blocks-gallery-image figcaption,
  .wp-block-gallery .blocks-gallery-item figcaption {
  	background-color: $dark_silver_alt;
  }

  .wp-caption-text {
  	background-color: $dark_silver_alt;
  }

  .wp-caption a:link,
  .wp-caption a:visited,
  .gallery-caption a:link,
  .gallery-caption a:visited {
  	color: $link_color;
  }

  .bypostauthor {
  	background-color: $light_silver_alt;
  	color: $text_color;

    a {
      color: $black;
    	text-decoration: none;
    }

    .button-primary {
    	background-color: $silver_alt;
    }
  }

  &.page-template-page_landing .blog-title a:visited,
  &.page-template-page_landing .blog-title a:link {
      color: $text_color;
  }

  .wp-block-pullquote.is-style-default {
  	border-color: $silver;
  }

	&.mag-featured {
		.post.has-post-thumbnail:nth-of-type(1) {
			.entry-title-block {
				background-color: $white_50_opacity;
				color: $text-color;

				a:link,
				a:visited {
					color: $darker_silver_alt;
				}
			}
		}
	}
}

// Sidebar
.silver {
  .widgettitle {
	  background: url(images/jgd-bizelite-assets.svg) no-repeat -20px -173px $base_color;
  }

  #wp-calendar {
  	border-color: $silver_alt;

    tbody td {
      border-color: $silver_alt;
    }
  }
}

@media screen and (min-width: 64.063em) {
	.silver.three-col-r .widgettitle,
	.silver.three-col-l .widgettitle {
		background: url(images/jgd-bizelite-assets.svg) no-repeat -20px -323px $base_color;
	}
}
