@use "../partials/variables";

/* -- Blue color scheme -- */
/* Base */

body.blue {
  background-color: variables.$blue;
}

.blue {
  a {
    color: variables.$blue;
  }

  a:hover,
  a:active {
    color: variables.$dark_blue;
  }

  table caption {
    background-color: variables.$dark_blue;
  }

  .wp-block-calendar table tfoot {
    a {
      color: variables.$blue;
    }

    a:hover,
    a:active {
      color: variables.$dark_blue;
    }
  }
}

/* Buttons */
.blue {
  .button-dropdown {
    background-color: variables.$dark_blue;
  }

  a.button-primary {
    background-color: variables.$medium_blue;
    border-bottom-color: variables.$dark_blue;
    color: variables.$white;
  }

  a.button-primary:hover {
    background-color: variables.$dark_blue;
  }

  a.wp-block-button__link:not(.has-text-color) {
    color: variables.$text_color;
  }

  .wp-block-search__button {
    background-color: variables.$medium_blue;
    border-bottom-color: variables.$dark_blue;

    &:hover,
    &:active,
    &:focus {
      background-color: variables.$dark_blue;
    }
  }
}

/* Header/Footer */
.blue {
  .subtitle {
    color: variables.$pale_blue;
  }

  .branding,
  .footer {
    background-color: variables.$dark_blue;
  }

  &.custom-header .site-title-block {
    background-color: variables.$blue_50_opacity;
  }

  .access {
    background-color: variables.$medium_dark_blue;
    border-top-color: variables.$blue;
  }

  .pagemenu {
    .menu {
      background-color: variables.$dark_blue;
      border-color: variables.$lightest_blue;
    }

    a {
      color: variables.$pale_blue;
    }

    a:hover,
    a:focus,
    a:active {
      background-color: variables.$pale_blue;
      color: variables.$black;
    }
  }

  .menubar-title {
    color: variables.$pale_blue;
  }

  .searchbar .search-input {
    border-color: variables.$blue;
  }

  .menu-social a {
    color: variables.$white;
  }

  .blog-title a {
    color: variables.$white;
  }

  .site-info {
    a {
      color: variables.$pale_blue;
    }

    a:hover,
    a:active {
      color: variables.$white;
    }
  }

  .up,
  .down {
    background-color: variables.$blue_50_opacity;
  }
}

@media screen and (min-width: 40.063em) {
  .blue .access {
    border-bottom-color: variables.$blue;
    border-top: transparent;
  }
}

@media screen and (min-width: 48em) {
  .blue .menu-social .social-panel-expand {
    background-color: variables.$medium_dark_blue;
    border-bottom-color: variables.$blue;
  }
}

/* Posts/Pages */
.blue {
  .nav-separator {
    background: url(../../images/jgd-bizelite-assets.svg) no-repeat -50px -45px;
  }

  .sticky .entry {
    border-color: variables.$light_blue;
  }

  .wp-caption-text,
  .gallery-caption,
  .wp-block-image figcaption,
  .wp-block-gallery.has-nested-images
    figure.wp-block-image:not(.is-style-rounded)
    figcaption {
    background-color: variables.$dark_blue;
    color: variables.$pale_blue;

    a {
      color: variables.$lighter_blue;
    }

    a:hover,
    a:active {
      color: variables.$lightest_blue;
    }
  }

  .bypostauthor {
    background-color: variables.$lightest_blue;

    .button-primary {
      background-color: variables.$dark_blue;
      color: variables.$white;
    }
  }

  .wp-block-pullquote.is-style-default {
    border-color: variables.$light_blue;
  }

  &.mag-featured .post.has-post-thumbnail:nth-of-type(1) .entry-title-block {
    background-color: variables.$blue_75_opacity;
  }
}

/* Sidebar */
.blue {
  .widget-area ul ul li {
    color: variables.$blue;
  }

  .widgettitle,
  .widget .wp-block-heading {
    background: url(../../images/jgd-bizelite-assets.svg) no-repeat -306px -73px
      variables.$base_color;
  }
}

@media screen and (min-width: 64.063em) {
  .blue.three-col-r,
  .blue.three-col-l {
    .widgettitle,
    .widget .wp-block-heading {
      background: url(../../images/jgd-bizelite-assets.svg)
        no-repeat -306px -223px variables.$base_color;
    }
  }
}
