/* CSS document */
@media screen and (min-width: 64.063em) { /* 64.063em = 1025px */
	#main {
		background: url(../images/divider-2-col.svg) top left repeat-y;
		border-left: transparent;
		border-right: 4px solid rgba(0, 0, 0, 0.25);
	}

	#container {
		margin-left: -280px;
		margin-right: 0;
		float: right;
	}

	#content {
		margin-left: 280px;
		margin-right: 0;
	}

	#primary,
	#secondary {
		width: 276px;
		margin-left: 4px;
	}

	#secondary {
		clear: left;
	}
	
	#primary .widget_search input#s,
	#secondary .widget_search input#s {
		max-width: 188px;
	}
}
