/* CSS document */
@media screen and (min-width: 64.063em) { /* 64.063em = 1025px */
	#searchbar,
	#menu-social {
		width: 200px;
	}
	
	#searchbar {
		right: 200px;
	}

	#main {
		background: url(../images/divider-3-col.svg) top left repeat-y;
		border-left: transparent;
		border-right: 4px solid rgba(0, 0, 0, 0.25);
	}

	#container {
		margin-left: -400px;
		margin-right: 0;
		float: right;
	}

	#content {
		margin-left: 400px;
		margin-right: 0;
		float: none;
	}

	a.post-edit-link {
		margin-left: 0;
	}

	.gallery-caption {
		max-width: 100px;
	}

	#primary,
	#secondary {
		width: 196px;
		margin-left: 4px;
		float: left;
	}

	.widgettitle {
		width: 176px;
		background: url(../images/jgd-bizelite-assets.svg) no-repeat -20px -205px #FFFFFF;
	}
	
	#primary .widget_search input#s,
	#secondary .widget_search input#s {
		max-width: 110px;
	}
	
	.widget_categories select,
	.widget_archive select {
		width: 156px;
	}

	#secondary {
		clear: none;
	}

	.gallery img {
		width: 100px;
		height: 100px;
	}

	#calendar_wrap {
		width: 196px;
	}
	
	.textwidget img,
	.textwidget select {
		max-width: 156px;
	}
}
