/* CSS document */
body.blog #content {
	padding: 20px;
}

body.blog .post {
	margin: 10px 2.5%;
}

body.blog .post h2.entry-title {
	line-height: 1em;
	margin-bottom: 0.5em;
}

body.blog .wp-post-image {
	float: none;
	margin: 0 0 1em 0;
}

body.blog .entry p:first-of-type {
	clear: left;
}

a.post-edit-link {
	margin-left: 0;
}

body.blog .post .entry {
	margin: 0;
	padding: 20px 0px;
	border: 0;
	border-bottom: solid 2px #C0C0C0;
	background-color: transparent;
}

body.blog .sticky .entry {
	border-bottom: solid 2px #808080;
}

body.blog .post .entry .gallery {
	margin-bottom: 1em;
}

body.blog .post .entry .wp-caption-text {
	margin-bottom: 1em;
}

body.blog .post .entry blockquote {
	background-color: transparent;
}

textarea#comment {
	width: 100%;
}

@media screen and (min-width: 48em) { /* 48em = 768px */
	body.blog .post {
		display: inline-block;
		vertical-align: top;
		width: 44.5%; /* for rounding errors with inline-block */
	}
	
	body.blog .index-meta {
		max-width: 100%;
	}
	
	body.blog .post .entry .gallery-item {
		width: 50%;
	}
	
	body.blog .post .entry .gallery img {
		width: 100px;
		height: 100px;
	}
	
	body.blog .post .entry .gallery-caption {
		max-width: 100px;
	}
}

@media screen and (min-width: 64.063em) { /* 64.063em = 1025px */
	#searchbar,
	#menu-social {
		width: 200px;
	}
	
	#searchbar {
		right: 200px;
	}

	#main {
		background: url(../images/divider-3-col.svg) top left repeat-y;
		border-left: transparent;
		border-right: 4px solid rgba(0, 0, 0, 0.25);
	}

	#container {
		margin-left: -400px;
		margin-right: 0;
		float: right;
	}

	#content {
		margin-left: 400px;
		margin-right: 0;
		/*float: right;*/
	}

	#primary,
	#secondary {
		width: 196px;
		margin-left: 4px;
		float: left;
	}

	.widgettitle {
		width: 176px;
		background: url(../images/jgd-bizelite-assets.svg) no-repeat -20px -205px #FFFFFF;
	}
	
	#primary .widget_search input#s,
	#secondary .widget_search input#s {
		max-width: 110px;
	}
	
	.widget_categories select,
	.widget_archive select {
		width: 156px;
	}

	#secondary {
		clear: none;
	}

	#calendar_wrap {
		width: 196px;
	}
	
	.textwidget img,
	.textwidget select {
		max-width: 156px;
	}
}

@media screen and (min-width: 85.438em) { /* 85.438em = 1367px */
	body.blog .post {
		margin: 10px 1.5%;
		width: 29.5%;
	}
}