/* CSS document */
body {
	background-color: #215E21;
}

a:link,
a:visited {
	color: #0B3D0B;
}

a:hover,
a:active {
	color: #215E21;
}

table caption {
	background-color: #0B3D0B;
}

#header, #footer {
	background-color: #0B3D0B;
}

#access {
	background-color: #71B071;
	border-top-color: #215E21;
}

#menubar .pagemenu,
#menubar .catmenu {
	background-color: #0B3D0B;
}

#menubar .menu-down-arrow,
#menu-social .menu-down-arrow {
	background-color: #0B3D0B;
}

#searchbar input#s {
	border-color: #215E21;
}

.nav-links a {
	text-decoration: none;
}

.nav-separator {
	background: url(../images/jgd-bizelite-assets.svg) no-repeat -80px -45px;
}

h2.entry-title a:link,
h2.entry-title a:visited,
.featured-cat-post .entry-title a:link,
.featured-cat-post .entry-title a:visited {
	color: #0B3D0B;
}

h2.entry-title a:active,
h2.entry-title a:hover,
.featured-cat-post .entry-title a:active,
.featured-cat-post .entry-title a:hover {
	color: #71B071;
}

.sticky .entry {
	border-color: #215E21;
}

#primary ul ul li,
#secondary ul ul li {
	color: #215E21;
}

.bypostauthor {
	background-color: #71B071;
	color: #F5F5F5;
}

.bypostauthor a {
	color: #FFFFFF;
	text-decoration: none;
}

.bypostauthor .comment-author {
	color: #F5F5F5;
}

.bypostauthor a.comment-reply-link:link,
.bypostauthor a.comment-reply-link:visited {
	background-color: #215E21;
}

a.post-edit-link,
a.more-link,
a.comment-reply-link {
    border-bottom-color: #0B3D0B;
}

a.post-edit-link:link,
a.more-link:link,
a.post-edit-link:visited,
a.more-link:visited,
a.comment-reply-link:link,
a.comment-reply-link:visited {
	background-color: #71B071;
}

a.post-edit-link:hover,
a.more-link:hover,
a.post-edit-link:active,
a.more-link:active,
a.comment-reply-link:hover,
a.comment-reply-link:active {
	background-color: #0B3D0B;
}

.wp-caption-text {
	background-color: #0B3D0B;
}

.wp-caption a:link,
.wp-caption a:visited,
.gallery-caption a:link,
.gallery-caption a:visited {
	color: #afe6a6;
}

.widgettitle {
	background: url(../images/jgd-bizelite-assets.svg) no-repeat -20px -120px #FFFFFF;
}

#to-top,
#to-bottom {
	background-color: rgba(11, 61, 11, 0.50);
}

#wp-calendar {
	border-color: #0B3D0B;
}

#wp-calendar tbody td {
	border-color: #0B3D0B;
}

@media screen and (min-width: 48em) {
	#menu-social .social-panel-expand {
		background-color: #71B071;
		border-bottom-color: #215E21;
	}
}

@media screen and (min-width: 40.063em) {
	#access {
		border-bottom-color: #215E21;
		border-top: transparent;
	}
}
