/* CSS document */
body {
	background-color: #808000;
}

a:link,
a:visited {
	color: #535300;
}

a:hover,
a:active {
	color: #808000;
}

table caption {
	background-color: #535300;
}

#header, #footer {
	background-color: #535300;
}

#access {
	background-color: #C0C056;
	border-top-color: #808000;
}

#menubar h3 {
	color: #535300;
}

#menubar .pagemenu,
#menubar .catmenu {
	background-color: #535300;
}

#menubar .menu-down-arrow,
#menu-social .menu-down-arrow {
	background-color: #535300;
}

#searchbar input#s {
	border-color: #808000;
}

#menu-social a {
	color: #535300;
}

.nav-links a {
	text-decoration: none;
}

.nav-separator {
	background: url(../images/jgd-bizelite-assets.svg) no-repeat -170px -45px;
}

h2.entry-title a:link,
h2.entry-title a:visited,
.featured-cat-post .entry-title a:link,
.featured-cat-post .entry-title a:visited {
	color: #535300;
}

h2.entry-title a:active,
h2.entry-title a:hover,
.featured-cat-post .entry-title a:active,
.featured-cat-post .entry-title a:hover {
	color: #808000;
}

.sticky .entry {
	border-color: #808000;
}

#primary ul ul li,
#secondary ul ul li {
	color: #808000;
}

.bypostauthor {
	background-color: #C0C057;
}

.bypostauthor a {
	color: #000000;
	text-decoration: none;
}

.bypostauthor a.comment-reply-link:link,
.bypostauthor a.comment-reply-link:visited {
	background-color: #808000;
}

a.post-edit-link,
a.more-link,
a.comment-reply-link {
    border-bottom-color: #535300;
}

a.post-edit-link:link,
a.more-link:link,
a.post-edit-link:visited,
a.more-link:visited,
a.comment-reply-link:link,
a.comment-reply-link:visited {
	background-color: #C0C056;
	color: #000000;
}

a.post-edit-link:hover,
a.more-link:hover,
a.post-edit-link:active,
a.more-link:active,
a.comment-reply-link:hover,
a.comment-reply-link:active {
	background-color: #535300;
	color: #FFFFFF;
}

.wp-caption-text {
	background-color: #535300;
}

.wp-caption a:link,
.wp-caption a:visited,
.gallery-caption a:link,
.gallery-caption a:visited {
	color: #ffffa7;
}

.widgettitle {
	background: url(../images/jgd-bizelite-assets.svg) no-repeat -306px -163px #FFFFFF;
}

#to-top,
#to-bottom {
	background-color: rgba(83, 83, 0, 0.50);
}

#wp-calendar {
	border-color: #535300;
}

#wp-calendar tbody td {
	border-color: #535300;
}

/* Page Templates */
.page-template-page_landing .blog-title a:visited,
.page-template-page_landing .blog-title a:link {
    color: #535300;
}

@media screen and (min-width: 48em) {
	#menu-social .social-panel-expand {
		background-color: #C0C056;
		border-bottom-color: #808000;
	}
}

@media screen and (min-width: 40.063em) {
	#access {
		border-bottom-color: #808000;
		border-top: transparent;
	}
}
